*{
    font-family: 'Yeseva One', cursive;
}
body{
    background-color: rgb(0, 0, 0);
    margin: 0;
}

.btn,
body,
.nav * a{
    color: #FFF;
}
.h,
.nav,
.about,
.nav .logo,
.footer,
.product,
.products,
.footer .contacts,
.footer .contacts .contact_form,
.banner .btn,
.nav .nav_links,
.products_listing,
.about .about_history,
.footer .contacts .contact_details pre,
.about .about_history .story,
.about .about_history .about_image{
    display:flex;
}
.products_listing{
    flex-wrap: wrap;
}

.h,
.nav,
.about_history p,
.footer .contacts,
.main-content,
.copyright,
.footer .contacts .contact_form label,
.footer .contacts .contact_form input,
.footer .contacts .contact_form textarea{
    width: 100%;
}

.toTop,
.banner .btn,
.footer .contacts .contact_form label,
.footer .contacts .contact_form input,
.footer .contacts .contact_form textarea{
    min-height:30px;
    border-radius: 5px;
    margin-top:10px;
    outline:none;
    border:none;
}
.footer .contacts .contact_form textarea{
    min-height: 100px;
}

.nav{
    justify-content:space-between;
}

.nav{
    height: 100px;
}


.copyright,
.banner{
    text-align:center;
}

.nav .nav_links,
.footer .contacts,
.products_listing,
.footer .contacts .contact_details pre,
.about .about_history{
    justify-content:space-evenly;
}
.btn{
    border-radius: 5px;
    background-color:dodgerblue;
}


.h,
.banner .btn,
.nav .logo,
.product,
.about .about_history .story,
.about .about_history .about_image{
    justify-content:center;
}
.product{
    border-radius: 50%;
    overflow: hidden;
}
.product img{
    border-radius: 50%;
}

.h,
.nav .logo,
.footer .contacts,
.banner .btn,
.product,
.nav .nav_links{
    place-items: center;
}

.about,
.banner,
.footer,
.story,
.products,
.footer .contacts .contact_form{
    flex-flow: column;
}

.btn,
.nav .nav_links li{
    cursor: pointer;
}

.fa-phone-alt{
    color: green;
}

.fa-whatsapp{
    color:rgb(138, 32, 138);
    border-radius: 50%;
}
.fa-twitter{
    color:dodgerblue;
}
.fa-facebook-messenger{
    color:rgb(81, 81, 216);
}
.fa-envelope{
    color:rgb(0, 119, 128);
}

li{
    list-style:none;
}

a{
    text-decoration: none;
}

img{
    max-width:100%;
    max-height:100%;
}

.banner p{
    font-size: 30px;
}

.product{
    max-height:200px;
    margin-top: 10px;
    max-width:200px;
}
.nav,
.toTop{
    position: sticky;
}
.about .about_history .story,
.about .about_history .about_image{
    width:40%;
    text-align:center;
}
/*************************************************************************/
.nav{
    top:0;
    z-index: 10;
}


.nav .logo{
    width: 30%;
    font-size: 40px;
    height:100%;
}
.nav .logo a{
    font-family: 'Audiowide', cursive;
}


.nav .nav_links{
    width:60%;
    font-family: 'Bungee', cursive;
}



.banner h1{
    /*font-family: 'Viga', sans-serif;*/
    font-size: 70px;
}

.banner p,
.nav .nav_links li:hover,
.nav .logo:hover a:hover{
    color:dodgerblue;
}

.banner .btn{
    width: 100px;
    height:30px;
    font-size:25px;
}

.nav_scroll{
    box-sizing: border-box;
    box-shadow: #FFF;
}

.footer .contacts .contact_form{
    width:40%;
}

.footer a{
    color:#FFF;
    font-size:30px;
    border-radius: 50%;
}

.toTop{
    float: right;
    margin-right: 5px;
    z-index: 2;
    bottom: 5%;
    font-size: 30px;
    background-color:transparent;
}

/****************************** RESPONSIVE **************************************************************************/

@media only screen and (max-width:600px){
    .nav{
        height:100px;
    }
    .nav .nav_links{
        height: 20px;
        margin-bottom:25px;
    }
    .nav .logo{
        height:60px;
        font-size: 20px;
    }

    .contact-details .social_contacts{
        display:flex;
    }

    .contact-details .social_contacts{
        flex-flow: row wrap;
    }
    .contact-details .social_contacts{
        justify-content:space-evenly
    }
    .contact-details .social_contacts .a{
        max-width: fit-content;
    }

    .nav,
    .about_history,
    .contact-details,
    .footer .contacts{
        flex-flow: column;
    }

    .footer .contacts,
    .contact-details .bus_contact,
    .contact-details .social_contacts,
    .about .about_history .about_image,
    .about .about_history .story,
    .nav .logo, .nav .nav_links{
        width:100%;
    }
    .footer .contacts .contact-details,
    .footer .contacts .contact_form{
        width:80%;
    }

    .contact-details .bus_contact a{
        font-size: 14px;
    }
    
}